{#<!--底部-->#}
{#<div class="row page_footer navbar-fixed-bottom" >#}
{#    <div class="col-md-12 text-center">#}
{#        <p>Posted by: W3School</p>#}
{#        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>#}
{#    </div>#}
{#</div>#}
{#</div>#}
<div class="footer">

    <div class="footer-inner">

        2013 &copy; Metronic by keenthemes.Collect from <a href="http://www.cssmoban.com/" title="网站模板" target="_blank">网站模板</a>
        - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>

    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up " style="font-size: 35px;"></i>

			</span>

    </div>

</div>
