{#<!--底部-->#}
{#<div class="row page_footer navbar-fixed-bottom" >#}
{#    <div class="col-md-12 text-center">#}
{#        <p>Posted by: W3School</p>#}
{#        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>#}
{#    </div>#}
{#</div>#}
{#</div>#}
<div class="footer">

    <div class="footer-inner">

        2019 -07 &copy; 小野点餐系统

    </div>

    <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up " style="font-size: 35px;"></i>

			</span>

    </div>

</div>
