{#<div style="height:800px;width: 240px;background-color: red">#}
{##}
{##}
{#</div>#}

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="搜索..."/>

                    <input type="button" class="submit" value=" "/>

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="start active ">

            <a href="/">

                <i class="icon-home"></i>

                <span class="title">首页</span>


            </a>

        </li>

        <li class="">

            <a href="/toOrderFood/">

                <i class="icon-desktop"></i>

                <span class="title">点餐</span>


            </a>


        </li>
        <li class="">

            <a href="javascript:;">

                <i class="icon-gift"></i>

                <span class="title">商品</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="/goods_list_page/">
                        商品管理</a>
                </li>

                <li>

                    <a href="/goodsTypeList/">
                        商品类型管理</a>
                </li>


            </ul>

        </li>

{#        <li class="">#}
{##}
{#            <a href="javascript:;">#}
{##}
{#                <i class="icon-group"></i>#}
{##}
{#                <span class="title">联系人</span>#}
{##}
{#                <span class="arrow "></span>#}
{##}
{#            </a>#}
{##}
{#            <ul class="sub-menu">#}
{##}
{#                <li>#}
{##}
{#                    <a href="/merchant_list_page/">#}
{##}
{#                        <i class="icon-time"></i>#}
{##}
{#                        供应商</a>#}
{##}
{#                </li>#}
{##}
{#                <li class="">#}
{##}
{#                    <a href="/customer_list_page/">#}
{##}
{#                        <i class="icon-cogs"></i>#}
{##}
{#                        客户</a>#}
{##}
{#                </li>#}
{##}
{##}
{#            </ul>#}
{##}
{#        </li>#}

        <li class="">

            <a href="javascript:;">

                <i class="icon-file-text"></i>

                <span class="title">订单</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="/queryOrderList/">

                        订单管理</a>

                </li>


            </ul>

        </li>
        <li>

            <a href="javascript:;">

                <i class="icon-bar-chart"></i>

                <span class="title">统计报表</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="javascript:;">

                        <i class="icon-cogs"></i>

                        Item 1

                        <span class="arrow"></span>

                    </a>

                    <ul class="sub-menu">

                        <li>

                            <a href="javascript:;">

                                <i class="icon-user"></i>

                                Sample Link 1

                                <span class="arrow"></span>

                            </a>

                            <ul class="sub-menu">

                                <li><a href="#"><i class="icon-remove"></i> Sample Link 1</a></li>

                                <li><a href="#"><i class="icon-pencil"></i> Sample Link 1</a></li>

                                <li><a href="#"><i class="icon-edit"></i> Sample Link 1</a></li>

                            </ul>

                        </li>

                        <li><a href="#"><i class="icon-user"></i> Sample Link 1</a></li>

                        <li><a href="#"><i class="icon-external-link"></i> Sample Link 2</a></li>

                        <li><a href="#"><i class="icon-bell"></i> Sample Link 3</a></li>

                    </ul>

                </li>

                <li>

                    <a href="javascript:;">

                        <i class="icon-globe"></i>

                        Item 2

                        <span class="arrow"></span>

                    </a>

                    <ul class="sub-menu">

                        <li><a href="#"><i class="icon-user"></i> Sample Link 1</a></li>

                        <li><a href="#"><i class="icon-external-link"></i> Sample Link 1</a></li>

                        <li><a href="#"><i class="icon-bell"></i> Sample Link 1</a></li>

                    </ul>

                </li>

                <li>

                    <a href="#">

                        <i class="icon-folder-open"></i>

                        Item 3

                    </a>

                </li>

            </ul>

        </li>
{#        <li>#}
{##}
{#            <a href="javascript:;">#}
{##}
{#                <i class="icon-bell"></i>#}
{#                <span class="title">消息通知</span>#}
{##}
{#                <span class="arrow "></span>#}
{##}
{#            </a>#}
{##}
{#            <ul class="sub-menu">#}
{##}
{#                <li>#}
{##}
{#                    <a href="/queryMsgListPage/">#}
{##}
{#                        <i class="icon-warning-sign"></i>#}
{##}
{#                        库存预警#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{##}
{#        </li>#}
        <li class="last">

            <a class="active" href="javascript:;">

                <i class="icon-cogs"></i>

                <span class="title">系统设置</span>

                <span class="arrow "></span>

            </a>

            <ul class="sub-menu">

                <li>

                    <a href="/queryUserList/">
                        用户管理
                    </a>
                </li>

                <li>

                    <a href="javascript:;">

                        角色管理

                        <span class="arrow"></span>

                    </a>

                    <ul class="sub-menu">

                        <li><a href="#">Sample Link 1</a></li>

                        <li><a href="#">Sample Link 1</a></li>

                        <li><a href="#">Sample Link 1</a></li>

                    </ul>

                </li>

                <li>

                    <a href="javascript:;">

                        权限管理

                        <span class="arrow"></span>

                    </a>

                    <ul class="sub-menu">

                        <li><a href="#">Sample Link 1</a></li>

                        <li><a href="#">Sample Link 1</a></li>

                        <li><a href="#">Sample Link 1</a></li>

                    </ul>

                </li>

                <li>

                    <a href="#">

                        菜单管理

                    </a>

                </li>

            </ul>

        </li>
    </ul>

    <!-- END SIDEBAR MENU -->

</div>