{% extends "main/base.html" %}
{% load static %}
{% load app_main %}
{#{% load compress %}#}

{% block meta %}
    <meta name="keywords" content="商品修改"/>
    <meta name="description" content="商品修改"/>
{% endblock %}

{% block title %}
    <title>商品修改</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/DT_bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/select2_metro.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-fileupload.css" type="text/css"/>
{% endblock %}
{% block bBody %}
    <!-- BEGIN PAGE -->
    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>portlet Settings</h3>

            </div>

            <div class="modal-body">

                <p>Here will be a configuration form</p>

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN STYLE CUSTOMIZER -->

                    <div class="color-panel hidden-phone">

                        <div class="color-mode-icons icon-color"></div>

                        <div class="color-mode-icons icon-color-close"></div>

                        <div class="color-mode">

                            <p>THEME COLOR</p>

                            <ul class="inline">

                                <li class="color-black current color-default" data-style="default"></li>

                                <li class="color-blue" data-style="blue"></li>

                                <li class="color-brown" data-style="brown"></li>

                                <li class="color-purple" data-style="purple"></li>

                                <li class="color-grey" data-style="grey"></li>

                                <li class="color-white color-light" data-style="light"></li>

                            </ul>

                            <label>

                                <span>Layout</span>

                                <select class="layout-option m-wrap small">

                                    <option value="fluid" selected>Fluid</option>

                                    <option value="boxed">Boxed</option>

                                </select>

                            </label>

                            <label>

                                <span>Header</span>

                                <select class="header-option m-wrap small">

                                    <option value="fixed" selected>Fixed</option>

                                    <option value="default">Default</option>

                                </select>

                            </label>

                            <label>

                                <span>Sidebar</span>

                                <select class="sidebar-option m-wrap small">

                                    <option value="fixed">Fixed</option>

                                    <option value="default" selected>Default</option>

                                </select>

                            </label>

                            <label>

                                <span>Footer</span>

                                <select class="footer-option m-wrap small">

                                    <option value="fixed">Fixed</option>

                                    <option value="default" selected>Default</option>

                                </select>

                            </label>

                        </div>

                    </div>

                    <!-- END BEGIN STYLE CUSTOMIZER -->

                    <h3 class="page-title">

                        修改商品

                        <small>修改商品信息</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="index.html">首页</a>

                            <span class="icon-angle-right"></span>

                        </li>

                        <li>

                            <a href="#">商品</a>

                            <span class="icon-angle-right"></span>

                        </li>

                        <li><a href="#">商品修改</a></li>

                    </ul>

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <!-- BEGIN PAGE CONTENT-->


            <div class="row-fluid">

                <div class="span12">

                    <!-- BEGIN VALIDATION STATES-->

                    <div class="portlet box green">

                        <div class="portlet-title">

                            <div class="caption"><i class="icon-plus"></i>修改商品</div>
                        </div>

                        <div class="portlet-body form update_goods_form">

                            <!-- BEGIN FORM-->

                            {#								<h3>Advance validation of custom radio buttons, checkboxes and chosen dropdowns</h3>#}

                            <form method="post" action=""
                                  class="form-horizontal" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="goodsId" value="{{ goods.id }}"/>
                                <input type="hidden" name="img" value="{{ goods.img }}"/>
                                <div class="alert alert-error hide">

                                    <button class="close" data-dismiss="alert"></button>

                                    You have some form errors. Please check below.

                                </div>

                                <div class="alert alert-success hide">

                                    <button class="close" data-dismiss="alert"></button>

                                    Your form validation is successful!

                                </div>

                                <div class="control-group">

                                    <label class="control-label"><span class="required">*</span>名称：</label>

                                    <div class="controls">

                                        <input type="text" name="name" data-required="1" class="span6 m-wrap"
                                               value="{{ goods.name }}"/>

                                    </div>

                                </div>
                                <div class="control-group">

                                    <label class="control-label"><span class="required">*</span>销售价格：</label>

                                    <div class="controls">

                                        <input type="text" name="single_price" data-required="1" class="span6 m-wrap"
                                               value="{{ goods.single_price }}"/>

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"><span class="required">*</span>类型：</label>
                                    <div class="controls">
                                        <select class="span6 m-wrap" name="goodsType_id_id" id="select_goodsType_list"
                                                data-placeholder="Choose a Category" tabindex="1">
                                            {% for goodsType in goodstype_list %}
                                                {% if goodsType.id == goods.goodsType_id_id %}
                                                    <option value="{{ goodsType.id }}"
                                                            selected="selected">{{ goodsType.name }}</option>
                                                {% else %}
                                                    <option value="{{ goodsType.id }}"
                                                    >{{ goodsType.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"><span class="required">*</span>状态：</label>
                                    <div class="controls">
                                        <select class="span6 m-wrap" name="status" data-placeholder="Choose a Category"
                                                tabindex="1">
                                            {% for status in status_list %}
                                                {% if status.value == goods.status %}
                                                    <option value="{{ status.value }}"
                                                            selected="selected">{{ status.text }}</option>
                                                {% else %}
                                                    <option value="{{ status.value }}">{{ status.text }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">

                                    <label class="control-label"><span class="required">*</span>商品图片：</label>

                                    <div class="controls">

                                        <div class="fileupload fileupload-new"
                                             data-provides="fileupload">

                                            <div class="fileupload-new thumbnail"
                                                 style="width: 200px; height: 150px;">

                                                <img src="{{ goods.img }}"
                                                     alt=""/>

                                            </div>

                                            <div class="fileupload-preview fileupload-exists thumbnail"
                                                 style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                            <div>
													<span class="btn btn-file"><span
                                                            class="fileupload-new">选择图片</span>
													<span class="fileupload-exists">修改</span>
													<input type="file" class="default" name="file" required/></span>
                                                <a href="#" class="btn fileupload-exists"
                                                   data-dismiss="fileupload">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions">

                                    <button type="button" id="update_goods" class="btn green ">修改</button>

                                    <a type="button" href="/goods_list_page/" class="btn">取消</a>

                                </div>

                            </form>

                            <!-- END FORM-->

                        </div>

                    </div>

                    <!-- END VALIDATION STATES-->

                </div>

            </div>

            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
    <!-- END PAGE -->
{% endblock %}
{% block bJs %}
        <script src="/static/js/goods/goods_update.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-fileupload.js"></script>

{% endblock %}



