{% extends "main/base.html" %}
{% block meta %}
    <meta name="keywords" content="商品类型修改"/>
    <meta name="description" content="商品类型修改介绍"/>
{% endblock %}



{% block title %}
    <title>商品类型修改</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/userinfo.css"/>
{% endblock %}
{% block bBody %}
    <div class="container-fluid">
        <!--当前系统的路径-->
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/index">首页</a></li>
                    <li class="active">商品</li>
                    <li class="active">商品类型管理</li>
                </ol>
            </div>
        </div>
        <!--主要的内容模块-->
        <div clas="row">
        <div class="col-md-4">
            <form class="userinfo" action="{% url 'goodstype_update' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="label-control">名称：</label>
                        <input type="text" id="name" class="form-control"  name="name"
                               value="{{ Data.name }}"/>
                        <input type="hidden" name="id" value="{{ Data.id }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="description" class="label-control">描述：</label>
                        <input type="text" id="description" class="form-control"  name="description"
                               value="{{ Data.description }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="code" class="label-control">代码：</label>
                        <input type="text" id="code" class="form-control" name="code"
                               value="{{ Data.code }}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-danger">更新商品类型信息</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block page %}{% endblock %}
{% block bJs %}
    <script src="/static/js/userinfo.js"></script>
{% endblock %}
