{% extends "main/base.html" %}
{% load static %}
{% load app_main %}
{% load myfilter %}

{% block meta %}
    <meta name="keywords" content="桌台列表"/>
    <meta name="description" content="桌台列表"/>
{% endblock %}

{% block title %}
    <title>桌台列表</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/DT_bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/select2_metro.css" type="text/css"/>
    <link href="/static/css/search.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/order/order_food.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/jquery.fancybox.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/desk_status_list/desk_status_list.css" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block bBody %}
    <!-- BEGIN PAGE -->
    <div class="page-content">

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <div id="portlet-config" class="modal hide">

        <div class="modal-header">

            <button data-dismiss="modal" class="close" type="button"></button>

            <h3>portlet Settings</h3>

        </div>

        <div class="modal-body">

            <p>Here will be a configuration form</p>

        </div>

    </div>

    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid">

    <!-- BEGIN PAGE HEADER-->

    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN STYLE CUSTOMIZER -->

            <div class="color-panel hidden-phone">

                <div class="color-mode-icons icon-color"></div>

                <div class="color-mode-icons icon-color-close"></div>

                <div class="color-mode">

                    <p>THEME COLOR</p>

                    <ul class="inline">

                        <li class="color-black current color-default" data-style="default"></li>

                        <li class="color-blue" data-style="blue"></li>

                        <li class="color-brown" data-style="brown"></li>

                        <li class="color-purple" data-style="purple"></li>

                        <li class="color-grey" data-style="grey"></li>

                        <li class="color-white color-light" data-style="light"></li>

                    </ul>

                    <label>

                        <span>Layout</span>

                        <select class="layout-option m-wrap small">

                            <option value="fluid" selected>Fluid</option>

                            <option value="boxed">Boxed</option>

                        </select>

                    </label>

                    <label>

                        <span>Header</span>

                        <select class="header-option m-wrap small">

                            <option value="fixed" selected>Fixed</option>

                            <option value="default">Default</option>

                        </select>

                    </label>

                    <label>

                        <span>Sidebar</span>

                        <select class="sidebar-option m-wrap small">

                            <option value="fixed">Fixed</option>

                            <option value="default" selected>Default</option>

                        </select>

                    </label>

                    <label>

                        <span>Footer</span>

                        <select class="footer-option m-wrap small">

                            <option value="fixed">Fixed</option>

                            <option value="default" selected>Default</option>

                        </select>

                    </label>

                </div>

            </div>

            <!-- END BEGIN STYLE CUSTOMIZER -->

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->

            <h3 class="page-title">

                桌台列表
                <small>显示当前所有桌台的状态。</small>

            </h3>

            <ul class="breadcrumb">

                <li>

                    <i class="icon-home"></i>

                    <a href="/home/">首页</a>

                    <i class="icon-angle-right"></i>

                </li>

                <li>

                    <a href="#">点餐</a>

                    <i class="icon-angle-right"></i>

                </li>

                <li><a href="#">桌台列表</a></li>

            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->

        </div>

    </div>

    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
    <!--桌台列表内容开始-->
    <div class="tabbable tabbable-custom tabbable-full-width">
        <div class="tab-content">
            {% for item in desks %}
                {% if forloop.counter0|divisibleby:4 %}
                    <ul class="thumbnails">
                {% endif %}
                <li class="span3 goods_item">
                    <a href="#" style="" class="desk_name">{{ item.name }}</a>
                    <ul class="unstyled">
                        <li><h4>
                            {% ifequal item.status 'YCJ' %}
                                已创建
                            {% endifequal %}
                            {% ifequal item.status 'YKT' %}
                                已开台
                            {% endifequal %}
                            {% ifequal item.status 'YCZ' %}
                                用餐中
                            {% endifequal %}
                            {% ifequal item.status 'YJZ' %}
                                已结账
                            {% endifequal %}
                            {% ifequal item.status 'YSC' %}
                                已删除
                            {% endifequal %}
                        </h4></li>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="pull-right">
                     {% ifequal item.status 'YCZ' %}
                            <a data-toggle="modal" data-target="#settleOrder" data-desk-id="{{ item.id }}"
                               class="btn red settleOrder">结账</a>
                        {% endifequal %}
                        {% ifequal item.status 'YCJ' %}
                            <button type="button" class="btn red open_desk" data-desk-id="{{ item.id }}">开台</button>
                        {% else %}

                            <a href="/OrderFood/{{ item.id }}" class="btn green">点餐</a>
                        {% endifequal %}


                    </div>

                </li>
                <div class="spac40"></div>
            {% endfor %}
            <!--end tabbable-->


            <!-- END PAGE CONTENT-->

        </div>

        <!-- END PAGE CONTAINER-->

    </div>
    <!--桌台列表内容结束-->
    <!--结账界面-弹出框-->
    <div class="modal fade" id="settleOrder" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">

                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        结账界面
                    </h4>
                </div>
                <div class="modal-body form">
                    <div class="span6">
                    <form method="post"
                          class="form-horizontal addShopCartForm">
                        {% csrf_token %}
                        <input type="hidden" name="desk_id" id="desk_id"/>
                        <div class="control-group order_info">

                        </div>

                    </form>
                    </div>
                    <div class="span6" style="text-align: center;">
                        <img src="/static/img/qr_code/wechat_pay.jpeg" width="50%" height="50%"/>
                    </div>
                    <div class="span12">
                    <table class="table table-striped table-bordered table-hover" id="sample_1">

                        <thead>

                        <tr>
                            <th>编号</th>
                            <th>商品名称</th>
                            <th class="hidden-480">数量</th>
                            <th class="hidden-480">销售价格</th>
                            <th class="hidden-480">合计</th>
                        </tr>
                        </thead>

                        <tbody class="order_goods_list">

                        </tbody>

                    </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn green" data-dismiss="modal">打印小票
                    </button>
                    <button type="button" class="btn red confirmSettleOrder">
                        确认结账
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- END PAGE -->
{% endblock %}
{% block bJs %}
    {#    <script src="/static/js/table-managed.js" type="text/javascript"></script>#}
    {#    <script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>#}
    {#    <script>#}
    {#        jQuery(document).ready(function () {#}
    {##}
    {#            App.init();#}
    {##}
    {#            TableManaged.init();#}
    {##}
    {#        });#}
    {#    </script>#}
    <script src="/static/js/search.js"></script>
    <script src="/static/js/jquery.fancybox.pack.js"></script>
    <script src="/static/js/desk_status_list/desk_status_list.js"></script>

{% endblock %}