{% extends "main/base.html" %}
{% block meta %}
    <meta name="keywords" content="客户添加"/>
    <meta name="description" content="客户添加介绍"/>
{% endblock %}

{% block title %}
    <title>客户添加</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/userinfo.css"/>
{% endblock %}
{% block bBody %}
    <!--当前系统的路径-->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/home/">首页</a></li>
                <li class="active">客户管理</li>
                <li class="active">客户添加</li>
            </ol>
        </div>
    </div>
    <hr>
    <!--主要的内容模块-->
    <div clas="row">
        <div class="col-md-10">
            <form class="form-horizontal" action="{% url 'add_customer' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="control-label col-md-3">名称：</label>
                        <div class="col-md-5">
                            <input type="text" id="name" class="form-control" name="name"/>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="form-group">
                        <label for="age" class="control-label col-md-3">年龄：</label>
                        <div class="col-md-5">
                            <input type="text" id="age" class="form-control" name="age"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="phone" class="control-label col-md-3">手机：</label>
                        <div class="col-md-5">
                            <input type="text" id="phone" class="form-control" name="phone"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="where_from" class="control-label col-md-3">来自：</label>
                        <div class="col-md-5">
                            <input type="text" id="where_from" class="form-control" name="where_from"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="mark" class="control-label col-md-3">备注：</label>
                        <div class="col-md-5">
                            <input type="text" id="mark" class="form-control" name="mark"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="address" class="control-label col-md-3">地址：</label>
                        <div class="col-md-5">
                            <input type="text" id="address" class="form-control" name="address"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-3">
                            <button type="submit" class="form-control btn btn-danger">新增供应商信息</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block page %}{% endblock %}
{% block bJs %}
    <script src="/static/js/userinfo.js"></script>
{% endblock %}
