{% extends "main/base.html" %}
{% load static %}
{% load app_main %}
{#{% load compress %}#}

{% block meta %}
    <meta name="keywords" content="首页"/>
    <meta name="description" content="首页"/>
{% endblock %}

{% block title %}
    <title>首页</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/index/index.css" type="text/css"/>
{% endblock %}
{% block bBody %}
    <!--当前系统的路径-->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">首页</li>
            </ol>
        </div>
    </div>
    <!--主要的内容模块-->
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <td class="text-center text-danger"><b>仓库预警信息</b></td>
                    </tr>
                    </thead>
                    <tbody id="msg_content">

                    </tbody>

                </table>
            </div>
            <div class="col-md-5">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <td class="text-center text-danger"><b>今日销售单数</b></td>
                        <td class="text-center text-danger"><b>今日销售总金额</b></td>
                        <td class="text-center text-danger"><b>今销售总单数</b></td>
                        <td class="text-center text-danger"><b>销售总金额</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">
                            <button id="orderNums" class="btn btn-danger"></button>
                        </td>
                        <td class="text-center">
                            <button id="todayTotalAmount" class="btn btn-success"></button>
                        </td>
                        <td class="text-center">
                            <button id="total_orders" class="btn btn-warning"></button>
                        </td>
                        <td class="text-center">
                            <button id="total_amount" class="btn btn-primary"></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="waitToggle">
                    <div class="clearfix">
                        <div id="annular" class="myEcharts" ></div>
                        <ul class="case-list">

                        </ul>
                    </div>
                    <div class="waitting-count-nodata" style="display: none"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#{% tplhandlebars "tpl-infos" %}#}
{#    {{total}} {% trans "result(s)." %}#}
{#    <p>{% trans "Min" %}: {{min}}</p>#}
{#    <p>{% trans "Max" %}: {{max}}</p>#}
{#{% endtplhandlebars %}#}
{#{% endtplhandlebars %}#}
{% block bJs %}
    {#    {% compress js %}#}
    <script src="/static/plugins/echarts/echarts-all.js" type="text/javascript"></script>
    <script src="/static/js/index/index.js" type="text/javascript"></script>
    {#    {% endcompress %}#}
{% endblock %}
{% verbatim %}
<script type="text/x-handlebars" id="tpl-infos">

    {{total}} result(s).
    <p>Min: {{min}}</p>
    <p>Max: {{max}}</p>




</script>
{% endverbatim %}