{% extends "main/base.html" %}
{% block meta %}
    <meta name="keywords" content="个人信息"/>
    <meta name="description" content="个人信息"/>
{% endblock %}


{% block title %}
    <title>个人信息</title>
{% endblock %}

{% block linkcss %}
    <link rel="stylesheet" href="/static/css/userinfo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css"/>
{% endblock %}
{% block bBody %}
    <!--当前系统的路径-->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/index">首页</a></li>
                <li class="active">个人信息</li>
            </ol>
        </div>
    </div>
    <hr>
    <!--主要的内容模块-->
    <div clas="row">
        <div class="col-md-10 updateUserInfoDiv">
            <form class="userinfo form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">头像:</label>
                        <div class="col-md-5">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail"
                                     style="width: 200px; height: 150px;">
                                    <img id="" src="{{ request.user.img }}" alt="" width="150px" />
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;">

                                </div>
                                <div>
                                    {#                                  <span class="btn  btn-file">#}
                                    <input type="file" name="file" required>
                                    {#                                  </span>#}
                                    <a href="javascript:;" class="btn btn-default grey fileinput-exists"
                                       data-dismiss="fileinput"> 删除 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="username" class="control-label col-md-3">用户名：</label>
                        <div class="col-md-5">
                            <input type="text" id="username" class="form-control" readonly name="username"
                                   value="{{ username }}"/>
                            <input type="hidden" name="id" value="{{ id }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="hidden" id="password" class="form-control" readonly name="password"
                                   value="{{ password }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">上次登录时间：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="last_login" readonly
                                   value="{{ last_login | date:"Y-m-d H:i:s" }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">是否是超级用户：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="is_superuser" readonly
                                   value="{{ is_superuser }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">姓：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="first_name"
                                   value="{{ first_name }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">名：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="last_name"
                                   value="{{ last_name }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">邮箱：</label>
                        <div class="col-md-5">
                            <input type="email" id="last_login" class="form-control" name="email" value="{{ email }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">是否为员工：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="is_staff" readonly
                                   value="{{ is_staff }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">是否激活：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="is_active" readonly
                                   value="{{ is_active }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="last_login" class="control-label col-md-3">加入时间：</label>
                        <div class="col-md-5">
                            <input type="text" id="last_login" class="form-control" name="date_joined" readonly
                                   value="{{ date_joined | date:"Y-m-d H:i:s" }}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-3">
                            <button type="button" class="form-control btn btn-danger" id="updateUserInfoBtn">更新用户信息</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block page %}{% endblock %}
{% block bJs %}
    <script src="/static/js/user/userinfo.js"></script>
    <script src="/static/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
{% endblock %}


