{% extends "main/base.html" %}
{% load static %}
{% load app_main %}
{#{% load compress %}#}


{% block meta %}
    <meta name="keywords" content="客户"/>
    <meta name="description" content="客户介绍"/>
{% endblock %}

{% block title %}
    <title>销售单管理</title>
{% endblock %}


{% block linkcss %}
    <link rel="stylesheet" href="/static/css/index.css"/>
{% endblock %}
{% block bBody %}
    <!--当前系统的路径-->
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="/index">首页</a></li>
                <li class="active">销售单</li>
                <li class="active">销售单管理</li>
            </ol>
        </div>
    </div>
    <!--主要的内容模块-->
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-3  col-md-offset-9 text-right">
                    <a type="button" href="/toOrderAdd" class="btn btn-default">新增数据</a>
                </div>
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr class="info">
                    <th>编号</th>
                    <th>订单编号</th>
                    <th>发货方式</th>
                    <th>总价</th>
                    <th>状态</th>
                    <th>业务日期</th>
                    <th>创建时间</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% if merchants_list %}
                    {% for item in merchants_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.order_code }}</td>
                            {% ifequal item.delivery 'ZT' %}
                                <td>自提</td>
                            {% else %}
                                <td>无</td>
                            {% endifequal %}
                            <td>{{ item.total_price }}</td>
                            {% ifequal item.status 'ZC' %}
                                <td>正常</td>
                            {% else %}
                                <td> 不正常</td>
                            {% endifequal %}
                            <td>{{ item.bussnessDate |date:"Y-m-d"}}</td>
                            <td>{{ item.create_time |date:"Y-m-d H:i:s" }}</td>
                            <td>{{ item.mark | truncatechars:10 }}</td>
                            <td>
                                <a href="{% url 'goodstype_edit' item.id %}">修改</a>
                                <a href="{% url 'delete_order' item.id %}">删除</a>
                                <a href="{% url 'delete_customer' item.id %}">详情</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">没有查找到数据</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bJs %}
    {#    {% compress js %}#}
    <script src="/static/js/index.js" type="text/javascript"/>
    {#    {% endcompress %}#}
{% endblock %}